/* Colors */
.bg-darknavy {
	background-color: #193554;
}
.bg-blueish {
	background-color: #4273a9;
}
.bg-lightblue {
	background-color: #8fb2da;
}

/* Fonts */
@font-face {
    font-family: Sophia;	
    src: url("fonts/Sophia.ttf");
}

body {
    margin: 10px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
